
/* this code below code could be moved and/or documented better
Override max-width 100% for Gmaps & Getlocations
================================================== */
.gmap img, #getlocations_map_canvas img {
max-width: none;
}
/* added so datepicker doesn't appear on load and positions properly - bug fix */
#ui-datepicker-div {display:none;}

/* General Responsive */
img { 
  max-width: 100%;
  height: auto; 
}
/*
img, object, embed {
max-width: 100%;
}*/
#PL_div {display:none;}
#tabs {
padding-top:20px;
}

/*hide appended menu*/
#menu-icon, #search-icon {
display: none;
} /* #navigation  MENU ICON FOR MOBILE*/
#mob-menu {
display: none;
}
.page-search #search-icon, .search-info { 
display: none;
}


/* this code above could be moved
================================================== */


/* Grid */
.container,  .containerheader {
padding-left: 15px;
padding-right: 15px;
}
.row, .rowheader, .rowhero {
width: 100%;
max-width: 1140px;
min-width: 735px;
margin: 0 auto;
overflow: hidden;
}
.rowheader {
height: 140px;	
}
.containermain {
margin-top: 40px;
}
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .headerfourcol, .headereightcol, .sixcol_65, .sixcol_35, .view-deal .views-row-odd, .view-deal .views-row-even, .views-row-odd, .views-row-even, .node-type-accommodation .views-row-1, .node-type-accommodation .views-row-2, .node-type-accommodation .views-row-3, .view-niseko-services .views-row-1, .view-niseko-services .views-row-2, .view-niseko-services .views-row-3, .view-niseko-services .views-row-4, .view-niseko-services .views-row-5, .view-niseko-services .views-row-6, .view-niseko-services .views-row-7, .view-niseko-services .views-row-8, .view-niseko-services .views-row-9, .fourcol_stat { /*.view-niseko-services .views-row-odd, .view-niseko-services .views-row-even,*/
margin-right: 3.8%;
float: left;
min-height: 1px;
}
.threecol_large, .ninecol_large {
margin-right: 3.8%;
float: left;
min-height: 1px;
}
.headereightcol {
float:right;
}
.row .onecol, .nested .onecol {
width: 4.85%;
}
.row .twocol, .nested .twocol {
width: 13.45%;
}
.row .threecol, .nested .threecol {
width: 22.05%;
}
.row .fourcol, .nested .fourcol, .row .headerfourcol, .row .fourcol_stat {
width: 30.75%;
}
.node-type-accommodation .views-row-1, .node-type-accommodation .views-row-2, .node-type-accommodation .views-row-3, .view-niseko-services .views-row-1, .view-niseko-services .views-row-2, .view-niseko-services .views-row-3, .view-niseko-services .views-row-4, .view-niseko-services .views-row-5, .view-niseko-services .views-row-6, .view-niseko-services .views-row-7, .view-niseko-services .views-row-8, .view-niseko-services .views-row-9 {
width: 30.75%;
}
.row .headerfourcol {
width: 25.75%;
}
.row .fivecol, .nested  .fivecol {
width: 39.45%;
}
.row .sixcol, .nested .sixcol, .row .sixcol_65, .row .sixcol_35, .eightcol .fifty {
width: 48%;
}
.view-deal .views-row-odd, .view-deal .views-row-even, .view-display-id-node_content_7 .views-row-odd, .view-display-id-node_content_7 .views-row-even, .views-row-odd, .views-row-even { /*.view-niseko-services .views-row-odd, .view-niseko-services .views-row-even,*/
width: 48%;
}
.row .sevencol, .nested .sevencol {
width: 56.75%;
}
.row .eightcol, .nested .eightcol, .row .headereightcol {
width: 65.4%;
}
.row .ninecol, .nested .ninecol {
width: 74.05%;
}
.row .tencol, .nested .tencol {
width: 82.7%;
}
.row .elevencol, .nested .elevencol {
width: 91.35%;
}
.row .twelvecol, .nested .twelvecol, .view-display-id-entity_view_7 .views-row, .view-display-id-node_content_9 .views-row, .view-Services-PDF .views-row, .view-id-Team .views-row, .view-display-id-block_2 .views-row, .view-Explore-Niseko .views-row-odd, .view-Explore-Niseko .views-row-even, .view-display-id-entity_view_5 .views-row { /* REMOVED FOR PROPERTY ATTACHED VIEW DEALS , .view-display-id-node_content_5 .views-row */
width: 100%;
float: left;
} /*
Homepage sticky : view-display-id-entity_view_7 < .view-display-id-node_content_8 .views-row
attached view property :  view-display-id-entity_view_5 <.view-display-id-node_content_5
*/
.last, .eightcol .fiftylast, .view-deal .views-row-even, .views-row-even, .node-type-accommodation .views-row-3, .view-niseko-services .views-row-3,.view-niseko-services .views-row-6, .view-niseko-services .views-row-9 {
margin-right: 0px;
}

@media only screen and (max-width: 1159px) {

}

@media only screen and (max-width: 1139px) {
.rowheader .threecol {
padding-left: 15px;
}
.rowheader .ninecol {
padding-right: 15px;
}
}
@media only screen and (max-width: 1023px) {

}
@media only screen and (max-width: 959px) {  /* 896 */
.row .headerfourcol {
width: 48%;
}
.row .headereightcol {
width: 40%;
}
/* REMOVED IN MOBILE FOR DEV PURPOSES *****  ADD BACK LATER **** , #headertitle,  */
#headerlang {
	display:none;		
}
.phone, #header .eightcol{
	display: none;
	width:100%;
}
/* mobile menu */
#menu-wrap { /*.menu */
	display:none;
}
#search_top { /*search */
	display:none;
}
#navigation .fivecol {
	width: 100%;
	padding-right: 15px;
}
/******** COPIED FROM ++ dk_base nsone *****/	
#menu-icon, #search-icon {
border: none;
color: #000000;
cursor: pointer;
display: inline-block;
float: right;
line-height: .66em;
margin: 0;
padding: 0 20px 0 0 ;
font-size:300%;
vertical-align:middle;
height:40px;
}
#menu-icon {
vertical-align:bottom;
}
#search-icon {
background: url(../img/search_mag_white.png) no-repeat 0 5px;
text-indent:-9999px;
overflow:hidden;
width:40px;
padding: 0 0 0 0 ;
}
#more-icon {
margin:20px auto; 
padding:7px; 
width: 100px; 
color: #ffffff; 
font-size: 100%; 
border:thin solid #333333;
cursor: pointer;
display: inline-block;
height: auto;
line-height: .66em;
}
#menu-icon.active {
background-color: #BBBBBB;
}
/* COPIED FROM RESTAURANT http://whitelineshokkaido.com/ ++ dk_base nsone */		
#header {
background-color: #ffffff;
border-bottom: 0;
}		
#mob-menu {
display: block;
height: 100%;
margin: 0 auto;
width: 100%;
background-color: #ffffff;
}
#mob-menu .links {
background-color: #ffffff;
border: medium none;
clear: both;
display: none;
height: auto;
margin: 20px auto;
padding: 0;
position: relative;
top: 0;
z-index: 10000;
width:95%;
}
/*#mob-menu ul {
list-style:none;
margin: 0 0 0 30px ;
}*/
#mob-menu .links li {
clear: both;
display: block;
float: none;
margin: 0 0 10px;
}
#mob-menu .links .phone-icon:before {
font-family: 'fontello';
content: '\e801';
margin:0 5px 0 0;
}
		
#mob-menu .links a {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
border: medium none;
color: #000000;
display: block;
font: inherit;
padding: 0;
}
#mob-menu .links .last a  {
padding-bottom: 15px;
}		
#mob-menu .links a:hover {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
color: #000000;
}
}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */
@media only screen and (max-width: 768px) {   /*929 */
/*body.logged-in */
html body.admin-menu {
margin-top: 100px !important;
background-position: center 0!important;
}
body {
margin: 0 ;
font-size: 1.0em;  /* changed 20113 04 2 */
-webkit-text-size-adjust: none;
}
#bodywrapper {
margin: 0;
}
.row, .container {
width: 100%;
min-width: 0;
margin-top: 20px;
margin-left: 0px;
margin-right: 0px;
padding-left: 0px;
padding-right: 0px;
}
.rowheader, .rowhero, .containerheader {
width: 100%;
min-width: 0;
margin-left: 0px;
margin-right: 0px;
padding-left: 0px;
padding-right: 0px;
}
.rowheader, .rowhero {
 margin-top: 0;
}
/* this needs reviewing above */
.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol, #navigation .fivecol {
width: auto;
float: none;
margin-left: 0px;
margin-right: 0px;
padding-left: 10px;
padding-right: 10px;
}
.nested .onecol, .nested .twocol, .nested .threecol, .nested .fourcol, .nested .fivecol, .nested .sixcol, .nested .sevencol, .nested .eightcol, .nested .ninecol, .nested .tencol, .nested .elevencol, .nested .twelvecol {
width: auto;
float: none;
margin-left: 0px;
margin-right: 0px;
padding-left: 0px;
padding-right: 0px;
}
/* footer  #footer .business, #footer .social */
#footer div h2 a {
 margin:20px 0 0;
 float:left;
}	
.travel_agent {
margin-left: 0!important;
font-size:70%;
}
/* need to check HN specific */
#property_top .fourcol, #property_top .eightcol {
	width: auto;
	float: none;
	margin-left: 0px;
	margin-right: 0px;
	/*padding-left: 20px;
	padding-right: 20px; REMOVED*/
	}
.features {
    background-color: #FFFFFF;
    padding: 0;
}
/*font stuff */
#homepage_1 h2, .hero_title, .view-header h2 {
    font-size: 150%;
}
.hero_subtitle {
    font-size: 120%;
}
}

@media only screen and (max-width: 767px) {
.rowheader {
height: 90px;
}
.rowheader .threecol {
width: 40%;
}
.rowheader .ninecol {
/*width: 60%;
*/}
/* mobile menu */
#header h2.logo a{
	background: url("../img/logo_header_retina.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	background-size: 80px auto;
	width:100%;
}
#menu-icon, #search-icon {  
line-height: 0.1em;
}
/* show hide */
.mobile-hide {
	display: none;
}
.mobile-show {
	display: block;
}

.capsule-bg .mobile-data{
padding: 0;
}
.mobile-image {
		display: inline;
		float:left;
		width:56.75%;
		margin-right: 3.8%;
}
.mobile-data {
		display: inline;
		float:left;
		width: 39.45%;
}
/* scroll on touch screen */
.touchscroll {overflow-x: scroll!important; -webkit-overflow-scrolling:touch!important;}

#copyright, #back-to-top {
float: right; 
width: 100%; 
text-align: right;}
/* hero font sizes & margins */
.hero {
margin-bottom: 0;
}
.para_hero p {
color: #000000;
margin-top: 40px;
margin-left: 10%;
margin-right: 10%;
font-size: 110%;
font-weight:400;
z-index: 1000;
}
.para_hero p:first-child {
color:#fff;
font-size: 140%;
margin-top: 55px;
font-weight:300;
}
/**
 *Code for Module on HN Property Management Page
 *
 *<h2>What our current owners say</h2>
 */
.testimonial {
padding: 50px 50px 0;
font-size: 110%;
margin-bottom: 0!important;
}
.testimonial .fourcol {
margin-bottom: 40px;
}
.testimonial span{
color: #836d04;
font-size: 92%;
}
.statistics {
padding: 40px 0;
font-size: 100%;
margin-bottom: 40px!important;
background-color:#f1f1f1;
}
.statistics span{
font-size: 200%;
}
.contact .fourcol {
padding-bottom: 30px;
}

}
}
@media only screen and (max-width: 567px) {	
.views-exposed-form input.form-submit, #block-multiblock-2 #edit-submit-1, #block-multiblock-6 #edit-submit--2, #block-multiblock-5 #edit-submit--2, #edit-submit-all-niskeo-accommodation {
 	width: 100%;
}
.views-exposed-form input.form-submit, #block-multiblock-2 #edit-submit-1, #edit-submit-all-niskeo-accommodation {
	margin-top: 0 !important;
}
}
@media only screen and (max-width: 460px) {

}
@media handheld, only screen and (max-width: 320px) {
.capsule-bg .mobile-data{
padding: 0 5px;
}
.mobile-image, .switch-img {
display:inline;
width:100%;
}
.mobile-data, .switch-text  {
display: inline;
width: 100%;
}
}