@charset "UTF-8";
/* CSS Document */
/* font-family: "Trebuchet MS",sans-serif;*/
/* font-family: "Lucida Grande",Verdana,sans-serif;*/
/* font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif	*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans); /*font-family: 'Open Sans', sans-serif;*/
/*@import url(http://fonts.googleapis.com/css?family=Noto+Serif); font-family: 'Noto Serif', serif;*/
/*@import url(http://fonts.googleapis.com/css?family=Merriweather:300); /*font-family: 'Merriweather', serif;*/ 
html {
background-color: #f3f3f3;
}
body {
margin:0;
padding:0;
color: #5c5c5c;
background-color: #FFFFFF;  /*#F3F3F3*/
font-family: 'Open Sans', sans-serif;
font-size:100%;
line-height: 1.4;
}
h1,h2,h3,h4,h5,h6,ul{
margin:0;
padding:0;
list-style:none;
}
h1,h2,h3,h4,h5,h6{
color: #2A2A2A ;
}
a {
color:rgba(0, 132, 61, 1); /*color:#333333; #405c6c;*/
text-decoration:none;
}
a:hover	{
color:#333333;
text-decoration:none;
}
img {
border:0;
}
p {
margin-bottom:10px;
}
.pjustify {
text-align: justify;
}
.clear {
 clear:both;
}
/*http://www.jqui.net/tips-tricks/css-clearfix/ */
.clearfix:after { content: "\00A0"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.clearfix{ display: inline-block;}
html[xmlns] .clearfix { display: block;}
* html .clearfix{ height: 1%;}
.clearfix {display: block}
/*typography*/
h1 {
font-size: 150%;
font-weight: 100;
}
h2 {
font-size: 170%;
margin-bottom: 20px;
font-weight: 100;
}
h3, #sidebar h2 {
font-size: 130%;
margin-bottom: 10px;
font-weight:400;
}
h4 {
font-size:120%;
margin-bottom:5px;
font-weight:400;
}
h6 {
font-size: 120%;
font-weight:500;
margin-bottom: 0px;
}
.cap {
text-transform:uppercase;
}
.small {
font-size:70%;
}
.medium {
font-size:90%;
}
#content  ul {
list-style:square;
margin: 0 0 0 30px ;
}
#sidebar .block {
margin-bottom: 40px;
}
/*touchscroll*/
/*scroll on touch screen *add to touch screen {overflow: auto; -webkit-overflow-scrolling:touch;}*/
.touchscroll {
width :100%;
}
.inner-touchscroll { min-width:550px; }


/**
 * hero image
 *
 * The first sentence of the long description starts here and continues on this
 * line for a while finally concluding here at the end of this paragraph.
 *
 * The long description is ideal for more detailed explanations and
 * documentation. It can include example HTML, URLs, or any other information
 * that is deemed necessary or useful.
 */
#homepage_1 h2, #homepage_2 h2,
.hero_title, .hero_subtitle, .view-header h2 {
color:#fff;
text-shadow: #2A2A2A 1px 1px;
font-size: 240%;
font-weight:900;
margin-bottom: 0;
}
#homepage_2 h2{
	color:#000;
}
.hero_title {
margin-left: 3.8%;
}
.hero_subtitle {
font-size: 180%;
font-weight:400;
margin-left: 7.8%;
}
/**** button */
button, input[type="submit"], input[type="reset"], input[type="button"], input.form-submit, a.button, a.button-reverse {   /*.button,*/
-webkit-appearance: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat-x scroll 0 0  rgba(0, 132, 61, 1); /* url("../images/buttons.png") repeat-x scroll 0 0  #00843D  */
    border-color: #E4E4E4 #D2D2D2 #0f6e14;
    border-image: none;
	height: 45px;
    border-style: solid;
    border-width: 0 0 4px;
	border-radius: 0;
    color: #ffffff;
    cursor: pointer;
	padding: 10px 0.8em 10px;
    text-align: center;
	/*text-shadow: 0 1px 0 #FFFFFF;*/
	font-size:100%!important; /* added to enforce size in input */
	-webkit-transition:background-color 2s;
    transition:background-color 2s; 
}
a.button-reverse {
	color: #000000;
	background: none repeat-x scroll 0 0  rgba(255, 255, 255, 1); /* url("../images/buttons.png") repeat-x scroll 0 0  #00843D  */
	border-color: #E4E4E4 #D2D2D2 #cccccc;
}
button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, input.form-submit:hover, a.button:hover, a.button-reverse:hover {   /*.button,*/
background-color: #FFCCCC;
}
/* UI */
.ui-tabs .ui-tabs-hide {
     display: none;
}
/********************************************************************************************************* header */
#headertitle h1 {	
font-style: italic;
color: #fff;
font-size: 120%;
font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
font-weight:100;
}
.header{
background-color:#00843d;
}
.filler {
background-color:rgba(0,0,0,.2); /*rgba(0,0,0,.2); yel255, 255, 51, 0.2  red255,007,007;*/
}
#header h2.logo a{
background: url(../img/logo_header.png) no-repeat 0 0;
height:40px;
text-indent:-9999px;
overflow:hidden;
float:left;
display:inline;
margin:10px 0 0;
width:100%;	
}
.phone {
float:right;
overflow:hidden;
margin:10px 0 0;
color:#ffffff!important;
font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
font-weight:100;
font-size: 130%;
}
.phone a {
color:#ffffff!important;
}
.email{
overflow:hidden;
margin:10px 0 13px 0;
color:#fff!important;
}
#lang {
margin: 0 0 0 40px;
padding:0;
float:right;
display:inline;
}
#lang li a {
padding: 5px 0 5px 39px;
background-position: 0 50%;
background-repeat: no-repeat;background-image:url(../img/ja.png); 
color:#fff;
font-size: 90%;
}
/************************************************************************************************** header nav */
#menu-wrap ul.menu{
width:100%;
float:left;
margin: 10px 0 0; 
padding:0;
position:relative;
text-align:center;
}
#menu-wrap ul.menu .first {
text-align: left;	
}
#menu-wrap ul.menu li{
float:left;
margin: 0;
padding:0;
position:relative;
width: 20%;
}
#menu-wrap ul.menu a{
color: #ffffff;
display:inline-block;
padding: 10px;
font-size:95%;
}
#menu-wrap ul.menu .first a {	
padding-left: 0;
}
#menu-wrap ul.menu a:hover{
	/*color: #ff0033;*/
}
#menu-wrap ul.menu a:visited{
color: #ffffff;
}
ul li.leaf {
    list-style:none;
}
#search_top {
padding-top: 10px;
padding-bottom:10px;	
}
#search-block-form {
background-color: #fff;
border: none;
height: 40px;
margin: 0;
padding: 0;
right: 0;
top: 7px;
z-index: 20;
}
#search-block-form label {
display: none;
}
#search-block-form input {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
border: medium none;
color: #00843d!important;
float: left;
margin: 0;
padding: 5px 5px 5px 10px;
}
#search-block-form input:focus { outline:0; }
#search-block-form input.form-text { display: inline; width: 200px; height: 35px; border: none; font-size: 100%; padding: 0; margin: 6px 0 0 5px;; }
#search-block-form input[type="submit"], #search-block-form  input.form-submit {
/*background: none repeat-x scroll 0 0  rgba(0, 255, 54, .25);*/
height: 40px;
border-width: 0 ;
border-radius: 0;
color: #5A5A5A;
cursor: pointer;
padding: 0;
margin: 0;
text-align: center;
text-shadow: 0 1px 0 #FFFFFF;
font-size:100%!important; /* added to enforce size in input */ 
}
/* footer  */
#footer{
border-top: 1px solid #00843d;
margin-top: 40px;
padding-top: 5px;	
}
#footer ul.links li{ /*overide system*/
padding: 0 ;
}
#footer ul.links li a, #footer div.social ul li a, #footer div.info ul li a, #footer div.business ul li a{
display:block;
color:#2a2a2a;
font-size:87.5%;
}
#footer div.social ul li a, #footer div.info ul li a, #footer div.business ul li a{
padding: 5px 0 5px 0;
background-position: 0 50%;
background-repeat: no-repeat;
}
#footer div.social ul li.fb a { background-image:url(../img/icons/fb.png); padding-left:39px;}
#footer div.social ul li.tw a { background-image:url(../img/icons/tw.png); padding-left:39px;}
#footer div.business ul li.co a { background-image:url(../img/icons/pdf.png); padding-left:33px;}
#footer div.business ul li.ec a {
/*background-image:url(../img/icons/ec.gif);*/
display:none;
}
#footer div h2 a{
text-indent:-9999px;
overflow:hidden;
background:url(../img/logo_footer.png) no-repeat 0 0;
float:right;
width:300px;
height:70px;
position:relative;
margin:200px 0 0;
}
.travel_agent {
color:#999;
font-size:80%;
}
#back-to-top {
float: right; 
}
/* END LAYOUT 


/* D7 */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
background-image: none;
background-color: #ffffff;
}

/* show and hide*/
.mobile-show {
display: none;
}

/* feildsets - use on transfer pages*/
html.js fieldset.collapsible legend {
background-color: #f8f4f1;
width: 100%;
padding: 10px;
}
html.js fieldset.collapsed .fieldset-legend, html.js fieldset.collapsible .fieldset-legend { /* added for d7  */
background-image: none; 
}
html.js fieldset.collapsible legend a{ 
background: url("../img/icons/collapsible.png") no-repeat scroll 0 75% rgba(0, 0, 0, 0);
padding-left: 25px;
}
html.js fieldset.collapsed legend a{ 
background: url("../img/icons/collapsed.png") no-repeat scroll 0 75% rgba(0, 0, 0, 0);
padding-left: 25px;
}

/*accom deals link*/
#block-block-14 {
margin: 40px 0 0 100px;
/*background: -moz-linear-gradient(top, #2F2727, #00843d);*/
}
#block-block-14 p {
color: #55AC40;
font-size: 200%;
margin-top: 0;
}

/* deals */
/* grouped deals */
.node-type-campaigns-grouped .block-block, .node-type-deals-page .block-block, #block-block-16, #block-block-17 { /*for sidebar blocks to clear it, could be addded to responsive*/
float: left;
display:inline;
margin-top: 20px;
margin-right: 3.8%;
}
.node-type-grouped-deals #block-block-18, .node-type-deals-page #block-block-18, #block-block-16, #block-block-17 { /*for sidebar blocks to clear it, could be addded to responsive*/
margin-right:0;
width: 100%;
}
#block-block-4 p, #block-block-5 p, #block-block-8 p, #block-block-11 p{
	display:inline;
	margin-bottom: 20px;
}
#block-block-4 img, #block-block-8 img, #block-block-5 img{
	display:inline;
	margin-bottom: 20px;
	width:220px;
	height:180px;
}
/* ski japan node 363 + template code >>> ALL DEAL node content */
#page-ski-japan #wrapper{
	margin:0 auto 10px;
	float: left;
	display: inline;
	width: 100%;
}

/* testimonals */
.test, .test2 {
	/*font-family: 'Merriweather', serif;*/
	font-style:italic;
	/*font-weight:300;*/
	font-size: 87.5%;
	float:left;
	display:inline;
	margin-top: 20px;
	color: rgba(110, 135, 110, 1);
}
.test2 { /*right sidebar*/
	float:right;
	display:inline!important;
}
p.quoteme { /*div.test p.quoteme, div.test2 p.quoteme, div.test3 p.quoteme, div.test4 p.quoteme,*/ 
	background: transparent url(../img/icons/bottomquote.gif) right bottom no-repeat;
	padding-right: 20px;
}
p.quoteme:first-letter { /*div.test p.quoteme:first-letter, div.test2 p.quoteme:first-letter , div.test3 p.quoteme:first-letter, div.test4 p.quoteme:first-letter*/
	background: transparent url(../img/icons/topquote.gif) left top no-repeat!important;
	width: 12px;
	height: 1.3em;
	padding:1px 0 3px 15px;
	background-position: 0 1px;
}
.test h6, .test2 h6 {
	text-align: right;
	margin-top: 0;
	margin-bottom: 10px;
	color: rgba(110, 135, 110, .8);
	font-size: 87.5%;
}


/*************************************************************************************************   profiles / users pages  */
body.section-users div.profile, body.section-users div#wrapper{
background-color:#fff;
margin: 10px 0 0 0;
padding: 2px;
} 

.admin a {
background-color:#ddd;
border: 1px solid #bbb;
padding: 0 1em;
text-transform:capitalize;
}
	
/* switch layout AKA explore niseko */
.view-Explore-Niseko .views-row {
margin-bottom: 40px;
}
.switch-img {
width: 40%;
display:inline;
float:left;
margin-right: 3.8%;
}
.switch-text {
width: 55%;
display:inline;
float:left;
}
.switch-text a {
font-size:130%;
color:#2A2A2A;
margin-top: 20px;
}
.switch-text p a {
font-size:100%;
color:#2A2A2A;
}
.view-Explore-Niseko .views-row-even .switch-img, .view-Explore-Niseko .views-row-even .switch-img img, .view-Explore-Niseko .views-row-even .switch-text  {
float:right;
margin-right: 0;
}
.view-Explore-Niseko .views-row-even .switch-text {
margin-right: 3.8%;
}
body.section-our-mountain p, body.section-explore-niseko p, body.section-winter-niseko p, body.section-summer-niseko p{
margin-right:60px;
}

/* site map */
#site-map .site-map-menus .site-map-box {
display: inline;
float: left;
margin-bottom: 1em;
width: 50%;
}
/* benefits */
#block-block-12 .threecol {
text-align: center;
}
.benefits {
text-align:center;
}
.benefits .img {
width: 70%;
}
.benefits img {
max-width: 90%;
}
.benefits h2 {
font-size:130%;
}
.benefits p, .benefits ul {
font-size:90%;
color:#666;
}
.benefits ul {
font-size:80%;
text-align:left;
list-style:none;
list-style-position:outside;
}
.benefits li {
background-image: url("../img/icons/tick.png");
background-repeat:no-repeat;
padding-left: 33px;
line-height:1.8;
}
/* hero benefits*/
#block-block-15 {
	margin: 70px 0 0 100px;
}
#block-block-15 .benefits h2 {
	color:#fff;
	text-shadow: #2A2A2A 1px 1px;
	font-size: 120%;
	font-weight:400;
}
#block-block-15 .benefits p {
	color:#fff;
	margin-top: 0;
}

/* deal lead capture */
.para div {
padding: 20px 10px;
color:#FFF;
background-color:rgba(0, 132, 61, 1);
}
.para p{
margin: 20px 0;
color:#FFF;
}
.rbiframe {
display: none;
}
.rbiframe iframe {
height: 100px;
}

/*d7 new */
.field-name-body {
margin-bottom: 40px;
}


/* not publised */
.False {
background-color: #fff1f1;
-webkit-transition-property: background-color;
-webkit-transition-duration: 2s;
-webkit-transition-timing-function: ease;
-webkit-transition-delay: 2s;

-moz-transition:background-color 2s ease 2s;
-o-transition:background-color 2s ease 2s;
transition:background-color 2s ease 2s; 
}

.False:hover {
background-color: #ffd2d2;
}